<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav ps-2">
                <div class="sb-sidenav-menu-heading ">Features</div>

                <a class="nav-link" href="/admin">

                    Dashboard
                </a>

                <a class="nav-link" href="/admin/user">

                    User
                </a>
                <a class="nav-link" href="/admin/category">

                    Category
                </a>
                <a class="nav-link" href="/admin/brand">

                    Brand
                </a>
                <p style="padding: 12px 16px; margin: 0;">

                    Sản phẩm
                </p>

                <div class="ps-5">
                    <a class="nav-link p-0" href="/admin/device">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right"></i></i></div>
                        Thiết bị di động
                    </a>
                    <a class="nav-link p-0" href="/admin/accessory">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right"></i></i></div>
                        Phụ kiện
                    </a>

                </div>



                <a class="nav-link" href="/admin/order">
                    Order
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <% if(user){ %>
                <%= user.role %>
                    <% } else{ %>

                        <% } %>
        </div>
    </nav>
</div>