<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav ps-2">
                <h2 style="font-size: large;" class="sb-sidenav-menu-heading ">Công cụ</h2>

                <a class="nav-link" href="/admin">

                    Trang chủ
                </a>

                <% if (user && user.role==='admin' ) { %>
                    <a class="nav-link" href="/admin/user">

                        Người dùng
                    </a>
                    <% } %>
                        <a class="nav-link" href="/admin/category">

                            Danh mục sản phẩm
                        </a>
                        <a class="nav-link" href="/admin/brand">

                            Thương hiệu
                        </a>
                        <p style="padding: 12px 16px; margin: 0;">

                            Sản phẩm
                        </p>

                        <div class="ps-5">
                            <a class="nav-link p-0" href="/admin/device">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right"></i></i></div>
                                Thiết bị di động
                            </a>
                            <a class="nav-link p-0" href="/admin/accessory">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right"></i></i></div>
                                Phụ kiện
                            </a>


                        </div>



                        <a class="nav-link" href="/admin/order">
                            Đơn đặt hàng
                        </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Vai trò: <% if(user){ %>
                    <%= user.role %>
                        <% } else{ %>

                            <% } %>
            </div>
        </div>
    </nav>
</div>